---
import _ from "lodash";
import Layout from "../layouts/Layout.astro";
import MainSectionComponent from "../components/MainSectionComponent.astro";
import LifeAwards from "../components/LifeAwards";
// import jobs from "../data/jobs.json";
import OrganisationValues from "../components/OrganisationValues.astro";
import JobCardMobile from "../components/JobCardMobile.astro";
import JobApplicationModalButton from "../components/JobApplicationModalButton";
const jobs:any[] = [];
try{
  const response = await fetch(import.meta.env.PUBLIC_API_URL+"wp-json/wp/v2/job");
  const data = await response.json();
  data.forEach((job:any, index:number) => {
  if(job.acf.position != "Senior Project Manager" ){
    jobs.push(
      {
        "sr_no": index+1,
        "lob": job.acf.lob,
        "position": job.acf.position,
        "location": job.acf.location,
        "employment_type": _.capitalize(job.acf.employment_type),
        "requisition_date": job.acf.requisition_date ? (formatDate(job.acf.requisition_date)) : "Not Tracked",
        "linkedin_url": job.acf.linkedin_url,
        "know_more_url": job.acf.pdf_job_file
    }
    );
  }
  })
  jobs.push({
    "sr_no": jobs.length + 1,
    "lob": "Finance & Accounts",
    "position": "General Manager - Accounts Controller",
    "location": "Mumbai",
    "employment_type": "On-roll",
    "requisition_date": "5 Feb 2024",
    "linkedin_url": "#",
    "know_more_url": "/pdf/Accounts_Controller_JD_2025-01-13.pdf"
  })
  jobs.push({
    "sr_no": jobs.length + 2,
    "lob": "Finance & Accounts",
    "position": "Sr. Executive – Regional Accountant",
    "location": "Bangalore",
    "employment_type": "On-roll",
    "requisition_date": "5 Feb 2024",
    "linkedin_url": "#",
    "know_more_url": "/pdf/CE_JD_RFM_South_2025-2-04.pdf"
  })
  jobs.push({
    "sr_no": jobs.length + 3,
    "lob": "Strategy & BIS",
    "position": "Manager - Financial Analyst",
    "location": "Mumbai",
    "employment_type": "On-roll",
    "requisition_date": "5 Feb 2024",
    "linkedin_url": "#",
    "know_more_url": "/pdf/CE_JD_FP&A_2025-02-05.pdf"
  })
}catch(e){
  console.log(e);
}
function formatDate(dateStr:string) {
    // Extract year, month, and day
    const year = dateStr.slice(0, 4);
    const month = dateStr.slice(4, 6);
    const day = dateStr.slice(6, 8);

    // Month names array
    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    
    // Format date
    return `${day} ${monthNames[_.toNumber(month) - 1]} ${year.slice(-2)}`;
}

---

<Layout title="Life at CloudExtel | CloudExtel">
  <MainSectionComponent
    title="Life @ CloudExtel"
    subtext="We believe in empowering our employees with the autonomy to explore, experiment, and excel. Here, your ideas are valued, your growth is supported, and your impact is real."
    image="/images/life-at.png"
  />

  <section class="container">
    <div class="w-full mx-auto py-[120px]">
      <div class="grid grid-cols-1 md:grid-cols-3 grid-rows-1 md:grid-rows-2 gap-6">
        <img src="/images/collage-1.png" class="w-full" alt="" />
        <div class="flex flex-col justify-between items-end gap-6">
          <img class="w-full" src="/images/collage-2.png" alt="" />
          <div class="flex flex-wrap justify-between items-center w-full h-full md:max-h-[250px]">
            <img class="w-1/2 h-full md:pr-[8px]" src="/images/collage-3.png" alt="" />
            <img class="w-1/2 h-full pl-[16px] md:pl-[8px]" src="/images/collage-4.png" alt="" />
          </div>
        </div>
        <img class="w-full" src="/images/collage-5.png" alt="" />
        <img class="w-full" src="/images/collage-6.png" alt="" />
        <img class="w-full" src="/images/collage-7.png" alt="" />
        <img class="w-full" src="/images/collage-8.png" alt="" />
      </div>
      <!-- <img src="/images/gallery-collage.png" alt="" /> -->
    </div>
  </section>

  <section class="container mt-[50px] mb-[120px]">
    <OrganisationValues />
  </section>
  <LifeAwards client:load />

  <section class="container">
    <div class="py-[120px]">
      <h1 class="heading-1 text-center">Career Opportunities</h1>
      <p class="para text-center mt-6">
        Employees are the heart and soul of an organisation. Want to contribute
        to the<br />
        ever-changing networking landscape? Reach out to us at <a
          class="underline text-primary-color">careers@cloudextel.com</a
        >
      </p>
      <!-- <div
        class="w-full max-w-[700px] mx-auto flex border border-[#728090A3] p-3 mt-6"
      >
        <input
          type="text"
          placeholder="Search by location, keyword or job title"
          class="flex-1 visited:outline-none focus:outline-none"
        />
        <img src="/images/Search.png" alt="" />
      </div> -->
      <div class="hidden md:block">
        <div class="py-8 overflow-x-scroll no-scrollbar transition-all overflow-y-hidden" id="jobs">
          <table class="w-full border-collapse border-spacing-0">
            <tbody class="divide-y divide-gray-300 space-y-11">
              <!-- Row 1 -->
               <tr>
                <td class="py-4 px-6 text-gray-600">Position</td>
                <td class="py-4 px-6 text-gray-600">Location</td>
                <td class="py-4 px-6 text-gray-600">Department</td>
                <td class="py-4 px-6 text-gray-600">Posted On</td>
                <td></td>
               </tr>
              {
                jobs.map((job) => {
                  return (
                    <tr>
                      <td class="py-12 px-6 text-gray-900 font-medium">
                        <h6 class="para"><b>{job.position}</b></h6>
                        {
                          !_.isEmpty(job.know_more_url) && (
                          <a class="text-primary-color" href={job.know_more_url} target="_blank">Know More</a>
                          )
                        }
                        
                      </td>
                      <td class="py-4 px-6 text-gray-600">
                        {job.location}
                      </td>
                      <td class="py-4 px-6 text-gray-600">
                        {job.lob}
                      </td>
                      <td class="py-4 px-6 text-gray-600">
                        {job.requisition_date}
                      </td>
                      <td class="py-4 px-6">
                        <JobApplicationModalButton client:load job={job} />
                        
                      </td>
                    </tr>
                  );
                })
              }
            </tbody>
          </table>
        </div>
        <span
          class="text-center font-semibold text-primary-color flex justify-center items-center cursor-pointer gap-2"
          id="loadMore"
          >Load More <img
            src="/images/arrow-down.png"
            alt=""
            class="h-[14px]"
          /></span
        >
      </div>
      
      

      <div class="block md:hidden container">
        {
          jobs.map((job) => {
            return (
              <JobCardMobile job={job} title={job.position} location={job.location} department={job.lob} postedOn={job.requisition_date} know_more_url={job.know_more_url} />
            );
          })
        }
      </div>
    </div>
  </section>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const jobsDiv = document.querySelector("#jobs") as HTMLElement;
    const loadMore = document.querySelector("#loadMore") as HTMLElement;
    const trHeight =
      (document.querySelector("#jobs tr") as HTMLElement)?.offsetHeight || 0;
    const trShow = (trHeight * 5) - 40;
    const trTotal = Math.ceil(
      (document.querySelector("#jobs")?.scrollHeight ?? 0) / trHeight
    );
    if (jobsDiv && trHeight && trTotal && trShow && loadMore) {
      jobsDiv.style.height = `${trShow}px`;

      loadMore.addEventListener("click", () => {
        if (loadMore.classList.contains("show")) {
          jobsDiv.style.height = `${trShow}px`;
          loadMore.innerHTML =
            "Load More <img src='/images/arrow-down.png' alt='' class='h-[14px]'>";
          loadMore.classList.remove("show");
        } else {
          jobsDiv.style.height = `${trTotal * trHeight}px`;
          loadMore.innerHTML =
            "Show Less <img src='/images/arrow-down.png' alt='' class='h-[14px] rotate-180'>";
          loadMore.classList.add("show");
        }
      });
    }
  });
</script>
